<%- include("partials/header") %> 


<header class="jumbotron" id="land-face">
    <div class="container section text-center">
        <h1 class="display-2">Be the best version of you!</h1>
        <div class="container">
            <h4>Make the change today.</h4>
            <a class="btn btn-lg" href="/programs">Check Out Our Programs!</a>
        </div>
    </div>
</header>

<section class="section" id="persuade-data">
    <div class="container text-center">
        <div class="col-12 invite-stuff">
            <i class="invite-icon fas fa-dumbbell fa-8x"></i>
            <p class="invite-text">Get fit in no time! Anywhere anytime! For <strong>FREE!</strong></p>
        </div>
        <div class="col-12 invite-stuff">
            <i class="invite-icon fas fa-running fa-8x"></i>
            <p class="invite-text">Join the movement! Be the first <strong>10,000</strong> members of this community!</p>
        </div>
        <div class="col-12 invite-stuff">
            <i class="invite-icon fas fa-heartbeat fa-8x"></i>
            <p class="invite-text">Live long. Stay well.</p>
        </div>
    </div>
</section>

<section class="section" id="sign-up-form-link">
    <div class="container text-center" >
        <div class="row">
            <div class="col-12">
                <h1>Sign up today!</h1>
                <p>Don't miss out, boys and gals!</p>
                <a href="/register"><button class="btn btn-lg">Sign Up</button></a>
            </div>
        </div>
    </div>
</section>

<section id="copyright">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <p class="text-center">&copy; 2020 Reyner Hywel Santonius. All Rights Reserved</p>
            </div>
        </div>
    </div>
</section>

<%- include("partials/footer") %> 